@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    font-family: 'Press Start 2P', cursive;
}

body{
    height: 100vh;width: 100vw;
    background: linear-gradient(135deg,#200589,#000000) no-repeat;
    background-size: cover;
    display:flex;justify-content:center;align-items: center;
    flex-direction:column;
}
h1{
    color:#21ff25;
}
.game{
    width:60vw;min-width:50vw;
    height:40vh;
    padding: auto;
    background: #21ff25;
    display: flex;justify-content: center;align-items: center;
    flex-direction: column;
    border: 5px solid rgba(32, 5, 137,.5);
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    border-radius: 1.5rem;
    -webkit-box-shadow: inset 15px 15px 30px 15px rgba(32, 5, 137,.5); 
    box-shadow: inset 15px 15px 30px 15px rgba(32, 5, 137,.5);
}
.buttons{
    margin-bottom: 2rem;
}
.rock, .paper, .scissors{
    background:#200589;color:#21ff25;
    padding: 1rem;margin:5px;
    border: 3px solid rgba(32, 5, 137,.5);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    outline: none;
}
.well{
    padding: 1rem;margin:5px;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    background: transparent;color: transparent;
    border: none;outline: none;
}
.rock:hover,.paper:hover,.scissors:hover,.well:hover{
    background: #21ff25;color: #200589;
    -webkit-box-shadow: inset 10px 10px 30px 10px rgba(32, 5, 137,.5); 
    box-shadow: inset 10px 10px 30px 10px rgba(32, 5, 137,.5);
}
.result{
    color: #200589;
}



/*
@media screen and (max-width: 768px){
    .game{
        width:50vw;
        height: auto;
    }
    .rock, .paper, .scissors, .well{
        width: 10%;
    }
}
*/

